body {
   background-color: Pink
}

h1 {
   color:Blue
}

h2 {
   color: green 
}

h1 {
  border: dotted;
}

h2 {
   border: dotted;
   padding: 20px;
}

h3 {
   border: dotted;
   padding: 20px;
}

h4 {
   border: dotted;
   padding: 20px;
}
