body {
   border: Double;
   border-color: DarkSalmon;
   background-color: DarkSeaGreen;
}

h1 {
   color:White
}

h2 {
   color: White
}

h1 {
  border: Solid;
}

h2 {
   border: Solid;
   padding: 20px;
}

h3 {
   border: dotted;
   padding: 20px;
}

